<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llh.mapper.UserMapper">
      <select id="findByName" resultType="com.llh.domain.User">
            select * from t_user where uname=#{uname} or tel=#{uname}
      </select>

      <select id="checkName" resultType="com.llh.domain.User">
            select * from t_user where uname=#{name}
      </select>

      <select id="login2" resultType="com.llh.domain.User">
            select * from t_user where uname=#{name} and upwd=#{pwd}
      </select>
</mapper>